html,
body {
  background: linear-gradient(
    109.6deg,
    rgb(0, 0, 0) 11.2%,
    rgb(11, 132, 145) 91.1%
  );
  background-attachment: fixed;
  background-size: cover;
  color: white;
  font-family: monospace;
  height: 100%;
}

@font-face {
  font-family: "spaceFont";
  src: url("Assets/space-age.regular.ttf");
}

h1 {
  font-family: "spaceFont", monospace;
}

p {
  color: rgb(193, 255, 114);
}

.passCriteria {
  max-width: 75%;
  margin: 0 auto;
}

.list-group {
  box-shadow: rgba(193, 255, 114, 0.4) 5px 5px,
    rgba(193, 255, 114, 0.3) 10px 10px, rgba(193, 255, 114, 0.2) 15px 15px,
    rgba(193, 255, 114, 0.1) 20px 20px, rgba(193, 255, 114, 0.05) 25px 25px;
}

.bg-strong {
  background: #c1ff72;
  color: #021b1e;
}

.bg-fair {
  background: #f8fe85;
  color: #021b1e;
}

.bg-weak {
  background: #ff6464;
  color: #021b1e;
}

/* Input box */
#search-password {
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3), 0 2px 0 0 #99c85c,
    0 4px 0 0 #7ea945, 0 6px 0 0 #5a7c2d, 0 8px 0 0 #4a6b1e,
    0 8px 16px 0 rgba(5, 150, 105, 0.5);
  margin-left: 10px;
}

#search-img {
  background-color: white;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3), 0 2px 0 0 #99c85c,
    0 4px 0 0 #7ea945, 0 6px 0 0 #5a7c2d, 0 8px 0 0 #4a6b1e,
    0 8px 16px 0 rgba(5, 150, 105, 0.5);
  border-radius: 25%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
  height: 31px;
  margin-right: 5px;
  padding: 9px;
}

/* Submit Button Special Effects */
.squishy-tech {
  background-color: rgb(193, 255, 114);
  border: none;
  border-radius: 0.5rem;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3), 0 2px 0 0 #99c85c,
    0 4px 0 0 #7ea945, 0 6px 0 0 #5a7c2d, 0 8px 0 0 #4a6b1e,
    0 8px 16px 0 rgba(5, 150, 105, 0.5);
  color: #021b1e;
  cursor: pointer;
  font-size: 12px;
  font-family: "spaceFont";
  overflow: hidden;
  padding: 0.5rem 1rem;
  transition: all 250ms ease;
}

/* Shimmer Layer */
.squishy-tech::before {
  animation: shimmer 6s infinite;
  background: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.1),
    transparent
  );
  content: "";
  inset: 0;
  top: 0;
  position: absolute;
  pointer-events: none;
  transform: translateX(-100%);
}

.squishy-tech:hover {
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3), 0 1px 0 0 #059669,
    0 2px 0 0 #047857, 0 3px 0 0 #065f46, 0 4px 0 0 #064e3b, 0 4px 8px 0 #06434a;
}

.squishy-tech:hover i {
  animation: bounce 1s infinite;
}

/* Animations */
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
