body {
  background-color: #0f0f0f;
  font-family: "Roboto", "Arial", sans-serif;
}

#search-field-wrapper {
  width: 500px;
}

.badge {
  cursor: pointer;
}

.create {
  background-color: #484848;
  padding: 10px;
}

.create:hover {
  background-color: #5f5e5e;
  padding: 10px;
}

.fa-microphone {
  border-radius: 50%;
  background-color: #484848;
  padding: 10px;
}

.fa-microphone:hover {
  border-radius: 50%;
  background-color: #5f5e5e;
  padding: 10px;
}

.fa-bell {
  padding: 10px;
}

.fa-bell:hover {
  border-radius: 50%;
  background-color: #5f5e5e;
  padding: 10px;
}

@media screen and(max-width: 768px) {
  #search-field-wrapper {
    width: 100px;
  }

  .profile {
    margin: -10px;
  }
}

/* Replacing bootstrap class styles */
.bg-body-tertiary {
  background-color: #0f0f0f !important;
}
