html {
  background: repeating-conic-gradient(#df2a2a 0 25%, #0000 0 50%) 50% / 25px
    25px;
}

body {
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

form {
  justify-content: start;
}

img {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.menu {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  max-width: 70%;
  margin: auto;
  margin-bottom: 30px;
}

/* Mobile */
@media screen and (max-width: 768px) {
  img {
    margin-bottom: 10px;
  }
}
