/* Desktop */
li > a {
  font-size: 14px;
}

a {
  color: #032169;
}

.accordion-item {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  color: red;
}

.accounts-list-group {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border: none;
}

#see-account-number {
  cursor: pointer;
}

.rewards-img {
  height: auto;
  object-fit: cover;
  width: 100%;
}

.support-bg {
  background-color: #032169;
}

.greeting {
  color: #032169;
}

.rewards-bg {
  background-color: #495057;
}

/* Mobile */
@media screen and (max-width: 768px) {
  .account-summary {
    margin: 15px;
    text-align: center;
  }

  #account-details {
    justify-content: center;
  }

  .column-one,
  .column-two {
    margin-top: 0;
  }

  .p-3 {
    padding: 0 !important;
  }

  h2 {
    padding: 20px;
  }

  .greeting {
    padding: 0;
  }
}
